@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "JetBrains Mono", monospace;
  background: #000;
  color: #00ff41;
  overflow-x: hidden;
}

body.terminal-locked {
  overflow: hidden;
}
